*{
    padding: 0%;
    margin: 0%;
    color:#ecebbd;
}
.main-with-pic{
    background-image: url(./img/Rectangle12.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
}

.just-links li a{
    text-decoration: none;
    color: inherit;
}

.main-text a{
    text-decoration: none;
    color: inherit;
}

.main-links ul{
    display: inline-flex;
    list-style-type: none;
    margin-left: 17.5%;
    margin-top: 3%;
    cursor: pointer;
}
.main-links li{
    margin-left: 5%;
}
.main-links a{
    font-size: 40px;
    font-family: 'Roboto', sans-serif;   
}

/* корзина */

.cart {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.1s;
    cursor: pointer;
    position: fixed; /* Фиксированное расположение */
    top: 5%; /* в правом верхнем углу */
    margin-left: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    padding: 15px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ecebbd;
  }
  
  .cart:hover {
    transform: scale(1.1);
  }
  
  .cart__num {
    position: absolute;
    background-color: #d62240;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    top: -5px;
    right: -5px;
  }

  .cart i {
    font-size: 40px;
  }

/* корзина */

/*окно оформления*/
.popup {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.33); /* Небольшое затемнение на фоне */
    z-index: 1000; /* Поверх всех окон */
    width: 100%;
    height: 100%;
    display: none; /* По умолчанию скрываем окно */
    justify-content: center;
    align-items: center;
    user-select: none;
    overflow-y: scroll;
  }

.popup h2{
    color: black;
}

.popup h1{
    color: black;
}
  
  /* Стилизация контейнера окна */
  .popup__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Распределяем элементы внутри равномерно */
    width: 100%;
    max-width: 800px;
    min-height: 300px;
    background-color: #fff;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    position: relative;
  }
  
  /* Элементы окна (заголовок, список товаров, вывод стоимости) */
  .popup__item {
    border-bottom: 1px solid #ddd;
    padding: 20px;
  }
  
  .popup__item:last-of-type {
    border-bottom: none;
  }
  
  .popup__title {
    font-size: 20px;
  }
  
  /* Стили для вывода товара */
  .popup__product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .popup__product-wrap {
    display: flex;
    align-items: center;
  }
  
  .popup__product-image {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-right: 10px;
  }
  
  .popup__product-title {
    max-width: 300px;
    font-weight: 500;
    color: black;
  }
  
  .popup__product-price {
    font-size: 18px;
    margin-right: 15px;
    color: black;
  }
  
  /* Стили для кнопки удаления товара */
  .popup__product-delete {
    font-size: 12px;
    padding: 5px;
    cursor: pointer;
    color: #d62240;
    border: white 1px;
  }
  
  /* Стили для вывода стоимости товаров */
  .popup__cost {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 5px;
  }
  
  .popup__cost-title {
    margin-right: 15px;
    font-size: 20px;
    color: #364364;
    text-align: right;
  }
  
  .popup__cost-value {
    font-size: 20px;
    color: black;
  }
  
  /* Стили для кнопки закрытия окна */
  
  .popup__close {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    padding: 20px;
    color: rgba(100, 54, 59, 0.7);
    border: white 1px;
    font-size: 20px;
  }
  
  .popup__close:hover {
    color: rgb(54, 67, 100);
  }
  
  .popup--open {
    display: flex;
  }
/*окно оформления*/

.main-text{
    font-family: 'Roboto', sans-serif;
    margin-left: 65%;
    margin-top: 10%;
}

.main-text h1{
    font-size: 50px;
}

.main-text p{
    font-size: 20px;
}

.secondary-text{
    margin-top: 5%;
    font-size: 30px;
    cursor: pointer;
}

.secondary-text i{
    font-size: 25px;
}

.just-links  a:hover {
	color: #d8deba;

}

#main-page:hover {
	color: #d8deba;

}

.secondary-text:hover{
    color: #d8deba;
}



@media only screen and (max-width: 600px) {

    html{
        background-color: rgb(63, 46, 46);
    }
    section{
        margin-top: 40vh;
        background-color: rgb(63, 46, 46);
    }

    .cart {
        margin-left: 75%;
        position: fixed; /* Фиксированное расположение */
        top: 28%; /* в правом верхнем углу */     
      }

    .main-with-pic{
        width: 720px;
    }
    .main-with-pic{
        background-image: url(./img/Rectangle11.jpg);
        height: 100vh;
        background-repeat: no-repeat;
    }
    .main-links{
        width: 90%;
    }
    .main-links ul{
        margin-left: 0%;
        margin-top: 3%;
    }
    .main-links a{
        font-size: 30px;    
    }
    .main-text{
     margin-left: 30%; 
     margin-top: 15%;   
    }

}


